@import "../vendor/bootstrap/bootstrap.less";

.widget-header {
  height: 60px;
  //line-height: 60px;
  background-color: @brand-warning;
  padding: 0 10px;
}

.btn-group.bootstrap-select {
  width: 100% !important;
}

.description {
  font-size: 12px;
}

.widget-content {
  overflow: auto;
}

.container {
  min-width: 580px;
}

.course-block {
  margin-bottom: 30px;
}